@import "buttons";

footer {
    border-top: 1px solid #fff;
    background-color: #192a34 !important;
    padding-top: 1rem!important;
    min-height: 4rem!important;
}

.td-home h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#main_navbar a {
    color: white!important;
}

p > a, li > a {
    color: $light-purple;

    &:hover {
        color: $primary;
    }
}

.row.features {
     p > a {
       color: white;
       font-weight: 700;
       text-decoration: underline;

        &:hover {
            color: $primary;
        }
    }
}

.td-overlay__inner {
    color: #ffffff;
}

.td-sidebar-nav__section-title a {
    color: dark-grey!important;
   &:hover {
      color: $light-purple !important;
   }
}

.td-section-nav {
    a {
      color: $light-purple!important;
    }
}

.td-box, .td-content {
    a {
        color: $light-purple;
        text-decoration: none;
        background-color: transparent;
        -webkit-text-decoration-skip: objects;

        &:hover {
            color: lighten($light-purple, 10%);
        }
    }
}

.td-content p code, .td-content li > code, .td-content table code, .alert code {
    adding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    word-break: normal;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
    color: $secondary!important;
}

.td-content h2 {
    font-weight: 800;
    color: #223232;
}

.td-content h3 {
    font-weight: 800;
    color: #223232;
}

h3 > code {
    color:$primary !important;
    word-break: normal;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 0.25rem;
}

.pageinfo-info {
    border-style: solid;
    border-color: #33c5c5!important;
}

.pageinfo.pageinfo-dark-pink {
    border-style: solid;
    border-color: $dark-pink!important;
}

.alert-heading {
    font-weight: bold;
}

.alert-info {
    border-style: solid;
    border-color: #33c5c5;
    border-width: 0 0 0 4px;

    h4.alert-heading {
        color: #33c5c5;
    }
}

.alert-warning {
    border-width: 0 0 0 4px;
}

h1.display-1 {
   font-size: 3em;
   font-weight: 800;
}

pre { border: 1px solid $light;}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

h2.section-title {
     color: $primary;
     font-weight: 700;
     font-size: 46px;
     margin: 12px 0;
}

h2.hero-title {
    font-weight: 700;

    .hero-end {
        color: $dark-pink!important;
        border-bottom: 3px solid $light;
        padding: 0 0.8em 0 0.8em;
        line-height: 12px;
        border-radius: 2em;
    }
}