/*

Add styles or override variables from the theme here.

*/

// Custom colors
$dark-grey: #343A40 !default;
$green-light: #26b793;
$indigo: #502198;

$dark: #121b28 !default;
$blue: #141440ff !default;
$blue-light: #2880c1 !default;

$gray: #6C757D !default;
$gray-light: #F8F9FA !default;

$dark-pink: #E62D4CFF !default;
$light-purple: #6951F3FF !default;

// Variables
$primary: #16262f;
$secondary: #CF2557FF;
$light: $gray;
$danger: $dark-pink !default;

$yellow: #D17A22;
$green: #339989;
$green-light: #3fd7b0;

$enable-gradients: true;
$enable-rounded: true;
$enable-shadows: true;






