apiVersion: 'kafka.jikkou.io/v1'
kind: 'KafkaTopicList'
items:
  - metadata:
      name: 'jikkou-demo-my-first-topic'
    spec:
      partitions: 1
      replicas: 1
      configMapRefs:
        - TopicConfig
      configs:
        cleanup.policy: 'compact'
  - metadata:
      name: 'jikkou-demo-my-second-topic'
    spec:
      partitions: 5
      replicas: 1
      configMapRefs:
        - TopicConfig
      configs:
        cleanup.policy: 'delete'
---
apiVersion: "core.jikkou.io/v1"
kind: "ConfigMap"
metadata:
  name: TopicConfig
data:
  retention.ms: 3600000
  max.message.bytes: 20971520
  min.insync.replicas: 1
