name: Docker Builds & Push
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
jobs:
  build_docker_image:
    if: github.repository == 'streamthoughts/jikkou'
    name: Build docker image
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: docker/setup-buildx-action@v2

    - name: Set up GraalVM
      uses: graalvm/setup-graalvm@v1
      with:
        java-version: '17.0.7'
        distribution: 'graalvm'
        github-token: ${{ secrets.GITHUB_TOKEN }}
     
    - name: Grant execute permission for gradlew
      run: chmod +x mvnw

    - name: Build with Maven Wrapper
      run: ./mvnw -B clean package -Pnative,dist

    - name: Set env PROJECT_VERSION
      run: echo "PROJECT_VERSION=$(./mvnw org.apache.maven.plugins:maven-help-plugin:3.1.0:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_ENV

    - name: Check PROJECT_VERSION    
      run: echo "${{ env.PROJECT_VERSION }}"
      
    - name: Set env GIT_BRANCH
      run: echo "GIT_BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV

    - name: Check GIT_BRANCH
      run: echo "${{ env.GIT_BRANCH }}"

    - name: Set GIT_COMMIT
      run: echo "GIT_COMMIT=$(git rev-parse --short "$GITHUB_SHA")" >> $GITHUB_ENV     

    - name: Check GIT_COMMIT   
      run: echo "${{ env.GIT_COMMIT }}"

    - name: Set DOCKER_IMAGE_TAG
      if: github.ref_name == 'main'
      run: echo "DOCKER_TAG=main" >> $GITHUB_ENV

    - name: Set DOCKER_IMAGE_TAG
      if: startsWith(github.ref, 'refs/tags/v')
      run: echo "DOCKER_TAG=${{ env.PROJECT_VERSION }}" >> $GITHUB_ENV

    - name: Check DOCKER_IMAGE_TAG
      run: echo "${{ env.DOCKER_TAG }}"

    - name: Copy Assembly distribution
      run:  cp ./jikkou-cli/target/jikkou-cli-${{ env.PROJECT_VERSION }}-runner ./docker/jikkou-cli-${{ env.PROJECT_VERSION }}-runner

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}        

    - name: Push to Docker Hub
      uses: docker/build-push-action@v4
      with:
        context: docker
        platforms: linux/amd64,linux/arm64
        file: docker/Dockerfile
        no-cache: true
        push: true
        tags: streamthoughts/jikkou:${{ env.DOCKER_TAG }}
        build-args: |
          jikkouVersion=${{ env.PROJECT_VERSION }}
          jikkouCommit=${{ env.GIT_COMMIT }}
          jikkouBranch=${{ env.GIT_BRANCH }}

    - name: Push to Docker Hub (latest)
      if: startsWith(github.ref, 'refs/tags/v')
      uses: docker/build-push-action@v4
      with:
        context: docker
        platforms: linux/amd64,linux/arm64
        file: docker/Dockerfile
        no-cache: true
        push: true
        tags: streamthoughts/jikkou:latest
        build-args: |
          jikkouVersion=${{ env.PROJECT_VERSION }}
          jikkouCommit=${{ env.GIT_COMMIT }}
          jikkouBranch=${{ env.GIT_BRANCH }}